In [1]:
# datatypes
# string
# list
# dictionary
# tuple

In [2]:
my_string = 'string'
my_list = [1,2,3]
my_dictionary = {'a':1, 'b':2}
my_tupe = ('a', 1, 'c')

In [3]:
my_string.islower()

True

In [4]:
my_string.isdigit()

False

In [5]:
num_str = '1234'

In [6]:
num_str.isdigit()

True

In [7]:
my_string.startswith('s')

True

In [8]:
my_string.endswith(' ')

False

In [10]:
my_string.capitalize()

'String'

In [11]:
my_string.replace('i','o')

'strong'

In [12]:
my_list

[1, 2, 3]

In [13]:
new_lst = my_list

In [14]:
new_lst

[1, 2, 3]

In [15]:
new_lst[0] = 'hello'

In [16]:
my_list

['hello', 2, 3]

In [17]:
copy_lst = my_list.copy()

In [18]:
copy_lst

['hello', 2, 3]

In [19]:
copy_lst[0] = '1234'
print(my_list)
print(copy_lst)

['hello', 2, 3]
['1234', 2, 3]

In [20]:
copy_lst.extend(['1', 3.45, 'car'])

In [21]:
copy_lst

['1234', 2, 3, '1', 3.45, 'car']

In [22]:
copy_lst.append(my_list)

In [23]:
copy_lst

['1234', 2, 3, '1', 3.45, 'car', ['hello', 2, 3]]

In [26]:
copy_lst.append([1])

In [27]:
copy_lst

['1234', 2, 3, '1', 3.45, 'car', ['hello', 2, 3], 1, [1]]

In [28]:
my_dictionary.keys()

dict_keys(['a', 'b'])

In [33]:
my_dictionary['a']

1

In [29]:
my_dictionary.items()

dict_items([('a', 1), ('b', 2)])

In [30]:
my_tupe

('a', 1, 'c')

In [32]:
my_tupe.index('c')

2

In [36]:
# if else statement
if True:
    print('hello world')
else:
    print('hello')

hello world

In [37]:
x = list(range(1, 11))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
for i in x:
    if i % 2 == 0:
        print(i, 'is even')
    else:
        print(i, 'is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [39]:
for i in x:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [40]:
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
new_str = 'i3415aad'

In [47]:
if new_str.isupper():
    print(new_str, 'is uppercase')
elif new_str.istitle():
    print(new_str, 'is title')
elif new_str.isalpha():
    print(new_str,'is alphabetic')
elif new_str.isalnum():
    print(new_str, 'is alnum')
else:
    print(new_str, 'is lowercase')

i3415aad is alnum

In [44]:
new_str.title()

'I Like Pizza'

In [49]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
for i in x:
    if i % 2 == 0:
        if i > 5:
            print(i, 'is even and greater than 5')
        else:
            print(i, 'is even and less than 5')
    else:
        print(i, 'is odd')

1 is odd
2 is even and less than 5
3 is odd
4 is even and less than 5
5 is odd
6 is even and greater than 5
7 is odd
8 is even and greater than 5
9 is odd
10 is even and greater than 5

In [50]:
my_string

'string'

In [52]:
if my_string.isupper():
    print('uppercase')
elif my_string.islower():
    print('lowercase')

lowercase

In [54]:
while True:
    print('hello')
    break

hello

In [55]:
counter = 0
while counter < 10:
    print('number at', counter)
    counter +=1 # counter = counter + 1

number at 0
number at 1
number at 2
number at 3
number at 4
number at 5
number at 6
number at 7
number at 8
number at 9

In [56]:
# user defined function
def list_average(a_list):
    return sum(a_list)/len(a_list)

list_average(x)

5.5

In [57]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
def lst_avg2(a_list):
    print(sum(a_list) / len(a_list))

lst_avg2(x)

5.5

In [60]:
y = lst_avg2(x)

5.5

In [61]:
type(y)

NoneType

In [62]:
# user defined function
def list_average(a_list):
    return sum(a_list)/len(a_list)

b = list_average(x)

In [63]:
b

5.5

In [64]:
type(b)

float

In [66]:
def weather():
    user = input('your favorite weather')
    #print(user)
    
weather()

your favorite weather sunny

In [67]:
def sq_num(a,b):
    return 2 ** a + 3 ** b

sq_num(2,3)

31

In [68]:
sq_num(3,2)

17

In [71]:
lamfunc = lambda x: x + 5

In [72]:
lamfunc(4)

9

In [73]:
ez_sq = lambda y: y**2
ez_sq(5)

25

In [74]:
mult_arg = lambda x, y: x+y
mult_arg(1,2)

3

In [75]:
# list comprehension
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
[i + 2 for i in x]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [77]:
import datetime

In [78]:
datetime.datetime.today()

datetime.datetime(2019, 1, 16, 17, 49, 4, 821031)

In [84]:
date = 3
year = 2019
month = 1

In [85]:
datetime.date(year, month, date)

datetime.date(2019, 1, 3)

In [90]:
from datetime import datetime

In [91]:
year= 2019
day = 12
month = 11
hour = 4
secs = 51
minutes = 30

In [93]:
d = datetime(year, month, day, hour, secs, minutes)

In [96]:
d

datetime.datetime(2019, 11, 12, 4, 51, 30)

In [95]:
d.strftime()

12

In [86]:
import datetime as dt

In [ ]:
dt.

In [87]:
import numpy as np

In [88]:
import pandas as pd

In [89]:
import matplotlib.pyplot as plt

In [ ]:
pd.