In [1]:
# strings methods
my_string = 'abc'

In [2]:
# string boolean method
# checks if characters are all digit
my_string.isdigit()

False

In [3]:
# check if characters are all alphabetic
my_string.isalpha()

True

In [4]:
mixed_str = 'abc1234'

In [5]:
# checks if characters are both alphabetic and numeric
mixed_str.isalnum()

True

In [6]:
# check if characters are all numeric
mixed_str.isnumeric()

False

In [7]:
yell = "HELLO"

In [8]:
# check if character is all lowercase
yell.islower()

False

In [9]:
# check if chacter is all uppercase
yell.isupper()

True

In [15]:
# string .endswith() methods
# check if last character end with defined substring
yell.endswith('o')

False

In [16]:
# string .endswith() methods
yell.endswith('O')

True

In [17]:
# startswith()
# check if first character start with defined substring
yell.startswith("H")

True

In [13]:
# string regular methods
# count the number of substring in a string
yell.count('L')

2

In [14]:
yell

'HELLO'

In [15]:
# find the first index of substring from left to right
yell.index('E')

1

In [18]:
# change uppercase to lowercase
lower_case_yell = yell.lower()

In [19]:
lower_case_yell

'hello'

In [20]:
yell

'HELLO'

In [21]:
# replace substring with new substring
yell.replace("L","x")

'HExxO'

In [23]:
# split string on substring to a list
hw = 'hello world, this is python'
hw.split()

['hello', 'world,', 'this', 'is', 'python']

In [24]:
hw.split('l')

['he', '', 'o wor', 'd, this is python']

In [25]:
hw

'hello world, this is python'

In [61]:
new_list = hw.split()

In [62]:
print(new_list)

['hello', 'world,', 'this', 'is', 'python']

In [63]:
# list methods
# add new values at the end in sequence
new_list.extend([1,2,'cars', 'food'])

In [64]:
new_list

['hello', 'world,', 'this', 'is', 'python', 1, 2, 'cars', 'food']

In [65]:
# add new values at the end of list
new_list.append([1,2,'cars', 'food'])

In [66]:
new_list

['hello',
 'world,',
 'this',
 'is',
 'python',
 1,
 2,
 'cars',
 'food',
 [1, 2, 'cars', 'food']]

In [67]:
# insert value before given index position
new_list.insert(4,'R')

In [68]:
new_list

['hello',
 'world,',
 'this',
 'is',
 'R',
 'python',
 1,
 2,
 'cars',
 'food',
 [1, 2, 'cars', 'food']]

In [69]:
new_list

['hello',
 'world,',
 'this',
 'is',
 'R',
 'python',
 1,
 2,
 'cars',
 'food',
 [1, 2, 'cars', 'food']]

In [70]:
# remove first value from left to right
new_list.remove('R')

In [71]:
l = new_list

In [72]:
# return last value and remove last value in a list
x = l.pop()

In [73]:
x

[1, 2, 'cars', 'food']

In [75]:
# sort in alphabetical and numeric order
abc = ['b', 'd', 'h', 'l','a']
abc.sort()

In [77]:
# sort in descending order
abc.sort(reverse=True)

In [78]:
abc

['l', 'h', 'd', 'b', 'a']

In [79]:
# dictionary method
dic = {'food':['eggs','toast'], 'newspaper':'scmp','weather':'sunny'}

In [81]:
# return the value if key is in dictionary
dic.get('food')

['eggs', 'toast']

In [82]:
dic.get('cars')

In [83]:
# return a default value if key not present in dictionary
dic.get('cars', 'hobby')

'hobby'

In [84]:
dic

{'food': ['eggs', 'toast'], 'newspaper': 'scmp', 'weather': 'sunny'}

In [85]:
# returns all keys from dictionary
dic.keys()

dict_keys(['food', 'newspaper', 'weather'])

In [86]:
# returns all values from dictionary
dic.values()

dict_values([['eggs', 'toast'], 'scmp', 'sunny'])

In [87]:
# tuple
t = ('ab',1, 2,'ce')

In [88]:
t[3]

'ce'

In [89]:
# in statement
'i' in 'aeiou'

True

In [90]:
'z' in 'aeiou'

False

In [91]:
# if else statement
# if True:
    # perform code
# else:
    # perform another code

if 'i' in 'aieou':
    print('i like python')

i like python

In [92]:
if 'i' in 'aieou':
    print('i like python')
else:
    print('i like R')

i like python

In [93]:
if 'z' in 'aieou':
    print('i like python')
else:
    print('i like R')

i like R

In [94]:
l = list(range(11))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
if len(l) % 2 == 0:
    print('list {} is even length'.format(l))
else:
    print('list {} is odd length'.format(l))

list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] is odd length

In [97]:
# in programming mod is you used find if number is even or odd
5 % 2

1

In [98]:
4 % 2

0

In [99]:
# elif - else if
if True:
    print('x')
elif 'y' == 'y':
    print('y')
else:
    print('z')

x

In [100]:
user = int(input('enter a number'))

if user > 0:
    print('positive')
elif user < 0:
    print('negative')
else:
    print('is zero')

enter a number -5

negative

In [101]:
user = int(input('enter a number'))

if user > 0:
    print('positive')
elif user < 0:
    print('negative')
else:
    print('is zero')

enter a number 0

is zero

In [102]:
# for loops
for i in l:
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [103]:
for i in l:
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10

In [104]:
for i in l:
    if i % 2 == 0:
        print(i)
    else:
        print(i+1)

0
2
2
4
4
6
6
8
8
10
10

In [105]:
abc = ['hello', 'hi', 'hello', 'world', 'python', 'hello']

for i in abc:
    abc.remove('hello')

abc

['hi', 'world', 'python']

In [1]:
while True:
    print('a')
    break

a

In [2]:
count = 0

while count < 5:
    print('hi')
    count = count + 1

hi
hi
hi
hi
hi

In [3]:
# user defined function
def sq_num():
    return 2 ** 2

In [4]:
sq_num()

4

In [5]:
def sq_num(x):
    return x ** 2

In [6]:
sq_num(3)

9

In [7]:
def sq_num(x,y):
    z = (x ** 2) + (y ** 2)
    return z

In [8]:
sq_num(2,3)

13

In [9]:
def sq_num(x=4, y=-2):
    z = (x ** 2) + (y** 2)
    return z

sq_num()

20

In [10]:
sq_num(5, 3)

34

In [13]:
def sq_num(x,y):
    return x ** y


print(sq_num(y=3,x=2))

8

In [14]:
def myfunc(x):
    """
    Docstring - explain my code
    x = a integer
    """
    user = int(input('what is your number'))
    if x == user:
        print('x = user')
    elif x > user:
        print('x is greather than user')
    else:
        print('x is less than user')

In [15]:
myfunc(5)

what is your number 10

x is less than user

In [16]:
# lambda functions are shortcuts for simple functions
x =2
lambda x : x ** 2

In [19]:
# datetime
from datetime import datetime

In [20]:
# create datetime object
my_year = 2018
my_month = 6
my_day = 1
dt = datetime(my_year, my_month, my_day)

In [22]:
# call attribute year to get year value
dt.year

2018

In [24]:
# month value
dt.month

6

In [27]:
# string format time
dt.strftime('%Y %B %m')

'2018 June 06'

In [28]:
from datetime import date

In [36]:
dt2 = date.today()
print(dt2)

2018-12-16

In [35]:
dt2.year

2018