In [1]:
# methods
# string, list, dictionary, tuple

In [2]:
# string methods - conditional string methods, regular methods
# conditional will check for True or False

In [3]:
my_string = 'i like python'

In [4]:
# check if characters are all uppercase
my_string.isupper()

False

In [5]:
# check if characters are all digits
my_string.isdigit()

False

In [8]:
# check if characters are both alphabetic and numeric
my_string.isalnum()

False

In [10]:
# count the substring in a string
my_string.count(' ')

2

In [11]:
my_string.count('i')

2

In [12]:
my_string.count('like')

1

In [13]:
my_string

'i like python'

In [14]:
# replace substring with defined substring
my_string.replace('i', 'a')

'a lake python'

In [15]:
x = my_string.replace(' ', '$')
x

'i$like$python'

In [17]:
# capitalize first character in string
my_string.capitalize()

'I like python'

In [26]:
# list methods
l = ['i like python', 'hello world', 'methods']
l

['i like python', 'hello world', 'methods']

In [27]:
# add values in sequence to list
l2 = [1, 2, 4]
l.extend(l2)
l

['i like python', 'hello world', 'methods', 1, 2, 4]

In [28]:
# remove first value from left to right in a list
x = l.remove('methods')

In [29]:
print(x)

None

In [30]:
print(l)

['i like python', 'hello world', 1, 2, 4]

In [31]:
y = l

In [32]:
# add value to end of list
y.append('R')

In [33]:
print(y)
print(l)

['i like python', 'hello world', 1, 2, 4, 'R']
['i like python', 'hello world', 1, 2, 4, 'R']

In [34]:
# return a copy of list
y = l.copy()

In [35]:
y

['i like python', 'hello world', 1, 2, 4, 'R']

In [36]:
y.remove(2)

In [37]:
y

['i like python', 'hello world', 1, 4, 'R']

In [39]:
l

['i like python', 'hello world', 1, 2, 4, 'R']

In [41]:
l

['i like python', 'hello world', 1, 2, 4, 'R']

In [42]:
# dictionary methods
dic = {'weather': 'cloudy', 'code': 'R', 'transport':'ding ding'}

In [53]:
dic['weather']

'cloudy'

In [56]:
# return all keys in dictionary
dic.keys()

dict_keys(['weather', 'code', 'transport'])

In [54]:
# unpacking keys to variables
x,y,z= dic.keys()

In [57]:
print(x,y,z,sep='\n')

weather
code
transport

In [59]:
dic[x]

'cloudy'

In [61]:
dic[z] = 'mtr'
dic

{'weather': 'cloudy', 'code': 'R', 'transport': 'mtr'}

In [44]:
# return values from a dictionary
dic.values()

dict_values(['cloudy', 'R', 'ding ding'])

In [46]:
# check if key is in dictionary or return default value
dic.get('weather','food')

'cloudy'

In [65]:
# a way to confirm if dictionary has key or not
dic.get('car','no key')

'no key'

In [50]:
t = tuple(range(3))

In [51]:
t

(0, 1, 2)

In [52]:
t.index(2)

2

In [66]:
# in statement
# boolean statement return True or False
1 in range(5)

True

In [67]:
'z' in 'aeiou'

False

In [68]:
# control flow statements
# if else statement
# while statement

In [71]:
if True:
    
    print('A')
else:
    
    print('B')

A

In [70]:
my_string

'i like python'

In [72]:
if my_string.isupper():
    print(my_string, 'has an uppercase')
else:
    print(my_string, 'is all lowercase')

i like python is all lowercase

In [73]:
num_range = list(range(1,21))

if len(num_range) % 2 == 0:
    print("{} length is an even number".format(num_range))
else:
    print("{} length is an odd number".format(num_range))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] length is an even number

In [74]:
# elif - else if
# if conditional statment is False
# elif
user = input('enter a number')

if user.isdigit():
    print(int(user))
elif user.isalpha():
    print(user)
else:
    print('unknown')

enter a number three

three

In [2]:
user = int(input('enter a number'))

if user > 0:
    print('positive number')
elif user < 0:
    print('negative number')
elif user == 0:
    print('zero')
else:
    print('unknown')

enter a number two

ValueError: invalid literal for int() with base 10: 'two'

In [79]:
# if True:
    # if True:
        # perform function
user = input('enter a number:')

if user.isdigit():
    x=int(user)
    if x > 0:
        print('{} is positive number'.format(x))
    elif x < 0:
        print('{} is neg number'.format(x))
    elif x == 0:
        print('{} is zero'.format(x))
    else:
        print('unkown')
else:
    print(user, 'is a string')

enter a number: 0

0 is zero

In [1]:
# while Statement
while True:
    print('a')
    # break

a

In [2]:
count = 0

while count < 10:
    print(count)
    count = count + 2

0
2
4
6
8

In [3]:
# for loop statement
for variable in range(5):
    print(variable)

0
1
2
3
4

In [13]:
hw = 'hello world'
for i in hw:
    print(i,end='*')

h*e*l*l*o* *w*o*r*l*d*

In [4]:
l = list(range(11))
odd = []
even = []
for i in l:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
        
print(odd, even,sep='\n')

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8, 10]

In [24]:
# user defined function
def sq_num(x):
    
    return x ** 2

In [25]:
type(sq_num(3))

int

In [26]:
# user defined function
def sq_num(x):
    
     print(x ** 2)

In [28]:
type(sq_num(3))

9

NoneType

In [5]:
# argument order matters
def sq_num(x,y):
    return x ** y
print(sq_num(3,4))
print(sq_num(4,3))

81
64

In [21]:
def draw_rect():
    print("+ " * 10)
    for i in range(8):
        print("+ " + "  " * 8 + '+')
    print("+ " * 10)

draw_rect()

+ + + + + + + + + +
+                 +
+                 +
+                 +
+                 +
+                 +
+                 +
+                 +
+                 +
+ + + + + + + + + +

In [29]:
# datetime
import datetime

In [31]:
from datetime import datetime

In [32]:
datetime.today()

datetime.datetime(2018, 12, 13, 18, 38, 0, 513891)

In [34]:
my_year = 2015
my_month = 12
my_day =3
my_hour = 11
my_min = 43
my_sec = 15

In [36]:
dt = datetime(my_year,my_month, my_day)

In [37]:
dt.day

3

In [39]:
dt.strftime('%Y %B %d')

'2015 December 03'