![pic](https://xccelerate.co/static/logo@3x-45da759fdee2af1d7e8b7cc2c3e8e73e-28324.png)

# Python Basics Introduction

The learning objectives are:

* Understanding data types
  * Strings - a sequence of characters
  * Numbers - numbers can be broken down into two types
    * Integer
    * Floats
  * Variable
  * Print - print() function
  * Adding string and integers
  * Booleans - true or false, comparison operators, logic operators
* Understand basic data containers
  * List 
  * Dictionaries 
  * Tuples
* Indexing and Slicing
* More simple functions
  * str(), int(), float()
  * len(), range(), input()

## Intro

In [1]:
# are for user comments in python
# print('Hello, World!')
print('Hello, World!')

Hello, World!

## Strings
 
Strings are a sequence of characters. A character can be any letter, number, or symbol. To define a string, characters are surrounded by either matching double quotes or single quotes.

In [2]:
# a string of letters and symbols
'Hello, World!'

'Hello, World!'

In [3]:
# a string of numbers
"100"

'100'

In [4]:
# a string of symbols
'#$.%'

'#$.%'

In [5]:
'single quotes' # single quotes

'single quotes'

In [6]:
"double quotes" # double quotes

'double quotes'

In [7]:
# single quotes can wrap double quotes and vice versa
'single wrapped "double" quotes'

'single wrapped "double" quotes'

In [8]:
"I don't know what you talking about!"

"I don't know what you talking about!"

In [9]:
# incorrect string format
"I went to 7-11'

SyntaxError: EOL while scanning string literal (<ipython-input-9-829ab1e0722a>, line 2)

## Numbers

Python has two different data type for numbers:

* Integers are positive/negative whole numbers
* Floats are decimal numbers

Numbers are not placed inside quotes

In [10]:
1 #integer

1

In [11]:
-11 #negative integer

-11

In [12]:
1.0 #float

1.0

In [13]:
-32.8 #negative float

-32.8

With numbers can perform math operations

In [14]:
# addition
1 + 1

2

In [15]:
12345 + -678.9

11666.1

In [16]:
# subtraction
0 - 1

-1

In [17]:
# math operations between integer and float always return a float
10.0001 - 2

8.0001

In [18]:
# multiplication
2 * 81

162

In [19]:
# division
3 / 4

0.75

In [20]:
# division always return a float
100 / 100

1.0

In [21]:
# power
2 ** 8

256

In [22]:
# modulo returns the reminder
5 % 2

1

In [23]:
6 % 3

0

In [24]:
# floor division returns an integer (round down)
9 // 4

2

In [25]:
(1 + 4) * (10 / 5)

10.0

In [26]:
# python follows PEMDAS
1 + 4 * 10 / 5

9.0

## Variable

Variable are containers for object or data type

In [27]:
# assign a string to a variable 
var = 'Hello, World!'

In [28]:
# call var
var

'Hello, World!'

In [29]:
# can use type() to verify the data type
type(var)

str

In [30]:
my_name = 'Wayne'
my_name

'Wayne'

In [31]:
# assign an integer to a variable
x = 4
y = 15

In [32]:
# variable subtraction
x - y

-11

In [33]:
type(x)

int

In [34]:
# variable reassignment
x = x + x

In [35]:
x

8

In [36]:
x = x + x

In [37]:
# variable has been overwritten
x

16

Variable rules:
  * variable should start with lowercase letters 
  * to chain words to make descriptive variable use underscore "_"
  * **Warning** variable with the same name as Python built-in functions can override that function

In [38]:
# good descriptive variable
bank_name = 'HSBC'
item_price = 100
employee_start_date = '01/01/2016'

In [39]:
# When multiple variable are run in a cell, only the last variable is return
bank_name
item_price
employee_start_date

'01/01/2016'

## Printing

`print()` - Python function to print an object

In [40]:
# by using print() can display many variables and objects use a comma to separate
print(bank_name, item_price, employee_start_date, "Hello, World!", 124, '$5236.00#')

HSBC 100 01/01/2016 Hello, World! 124 $5236.00#

In [41]:
# can call print() multiple times
print(bank_name)
print(item_price)
print(employee_start_date)

HSBC
100
01/01/2016

In [42]:
# printing a string and variable
print('Hi my name is', my_name)

Hi my name is Wayne

In [43]:
# can use math operator in print()
print(x + y)
print(y / x)
print(1 * 2)

31
0.9375
2

In [44]:
# shift+tab to view docstring for Python function
print()

In [45]:
# to print() output vertical use \n which means newline
print(bank_name, item_price, employee_start_date, "Hello, World!", 124, '$5236.00#', sep='\n')

HSBC
100
01/01/2016
Hello, World!
124
$5236.00#

## String formatting

String formatting is a method to concatenate elements within a string through positional substitutions

In [46]:
# with variable inside placeholders {}
print('I want to buy 2 {x} and {y} oranges'.format(x='apples', y= 5))

I want to buy 2 apples and 5 oranges

In [47]:
# empty {}
print('Today I went to {} to withdraw {} dollars'.format(bank_name, item_price))

Today I went to HSBC to withdraw 100 dollars

## Strings and numbers

In [48]:
# what happens when adding two strings together?
print('a string' + 'another string')

a stringanother string

Python has **concatenated** the two strings together. How about if we try to add a string to a number?

In [49]:
print('5' + 10)

TypeError: can only concatenate str (not "int") to str

The result is an error because can't concatenate two different data types together.

In [50]:
# variable that is a string and variable that is an integer
print(bank_name + x)

TypeError: can only concatenate str (not "int") to str

In [51]:
# printing a string, variable + string
print("Hi my name is", my_name + '!')

Hi my name is Wayne!

In [52]:
# can you see the difference?
print('Hi my name is', my_name, '!')

Hi my name is Wayne !

## Booleans

Booleans are very simple, they can either be true of false. In python booleans start with a capital, you'll know you've typed it right due to the green syntax highighting.

In [53]:
True

True

In [54]:
False

False

In [55]:
type(True)

bool

In [56]:
# converting True to an integer you get 1
int(True)

1

In [57]:
# converting False to an integer you get 0
int(False)

0

## Comparison Operators
Comparison Operators are used to compare values, either returns `True` or `False`

In [58]:
# ==  are the values of two operands equal
print('5' == 5)
print('a' == 'A')
print(my_name == 'Wayne')

False
False
True

In [59]:
# !=  are the values of two operands are not equal
print('1' != 1)
print(bank_name != 'HSBC')

True
False

In [60]:
# >  is the left operand greater than the right operand 
print('a' > 'b')
print('Z' > 'z')
print('f' > 'e')
print(10 > 4)

False
False
True
True

In [61]:
# <  is the left operand less than the right operand 
print('a' < 'b')
print('Z' < 'z')
print('f' < 'e')
print(1 < 2)

True
True
False
True

In [62]:
# >=  is the left operand greater than or equal to the right operand 
print('aBc' >= 'abc')
print(5 >= 5)

False
True

In [63]:
# <=  is the left operand less than or equal to the right operand
print('Abc' <= 'abc')
print(1.1 <= 1.10)

True
True

## Logic Operators

To combine multiple conditions for comparison use: `and` and `or`

In [64]:
# logical operator AND, both must TRUE to be TRUE
(1 < 2) and (3 > 0)

True

In [65]:
# can also use & symbol
(5 > 2) & (14 < 21)

True

In [66]:
# logical operator OR, only one must be TRUE to be TRUE
(1 < 2) or (1 > 0)

True

In [67]:
# can also use | symbol
(5 > 4) | (3 < 1)

True

In [68]:
# chaining logical operators
(4 == 4) | (3 > 5) and (1 < 2)

True

# Data Containers

A container is an object that can be used to contain other objects. There are 4 basic data containers:

* Variable
* List
* Tuples
* Dictionaries

List, dictionaries, and tuples, are also data types themselves.

## Variable (advanced)

 ### Multiple assignment

In [69]:
x, y, z = 1, 3.1415, 'a'

In [70]:
print(x)
print(y)
print(z)

1
3.1415
a

### Chained assigment

In [71]:
a = b = c = 1

In [72]:
print(a)
print(b)
print(c)

1
1
1

### Augmented assignment

In [73]:
age = 10
age +=5 # equivalent to age = age + 5
age

15

In [74]:
age -= 10 # equivalent to age = age - 10
age

5

## Lists

A list is an ordered collection of any data types. List are defined by enclosing a comma-separated sequence within `[]`. 

Lists are **mutable**, which means once created can values can be changed such as add or remove.

In [75]:
shopping_list = ["eggs","bacon","sausages","bread","baked beans"]

In [76]:
shopping_list

['eggs', 'bacon', 'sausages', 'bread', 'baked beans']

List can contain a mix of datatypes.

In [77]:
mixed_list = ["one",2,"three",4]

In [78]:
print(mixed_list)

['one', 2, 'three', 4]

A list can contain variables.

In [79]:
#variables:
eggs = 6
bacon = 1
sausages = 4
#list:
food_count = [eggs,bacon,sausages]
food_count

[6, 1, 4]

A list can contain a list, or a **nested list**.

In [80]:
# a list in a list
my_list = ['eggs', eggs, 3, '5', ['Citysuper', 'Sogo', 'Street Market']]
my_list

['eggs', 6, 3, '5', ['Citysuper', 'Sogo', 'Street Market']]

Add item to a list, use `.append()`

In [81]:
# append item to end of the list
shopping_list.append('tomato')
print(shopping_list)

['eggs', 'bacon', 'sausages', 'bread', 'baked beans', 'tomato']

Remove item to a list, removes only first occurence, use `.remove()`

In [82]:
# append bacon to list
shopping_list.append('bacon')
print(shopping_list)

['eggs', 'bacon', 'sausages', 'bread', 'baked beans', 'tomato', 'bacon']

In [83]:
# remove bacon from list
shopping_list.remove('bacon')
print(shopping_list)

['eggs', 'sausages', 'bread', 'baked beans', 'tomato', 'bacon']

Converting a string to a list

In [84]:
# .split() on a string object
s = 'Today is a nice day!'
s.split(' ')

['Today', 'is', 'a', 'nice', 'day!']

In [85]:
# list() convert object to a list
s = 'abcdefghijk'
list(s)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

## Dictionaries

Dictionaries are an unordered collection of **key value** pairs. To elaborate, in a traditional dictionary sense we have a word which is the`key` and we look up the word for its definition which is the `value`. We use curly brackets `{}` to create a dictionary and to seperate the `key` `value` we use a colon  `:` and each key value pair is comma-separated.

In [86]:
d = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

In [87]:
food_counts = {'eggs':6 , 'bacon':1 , 'sausages':4}

To get the value of bacon, pass the `'bacon'` key itself in `[]` bracket notation to the dictionary to return its value.

In [88]:
# bacon value
food_counts['bacon']

1

In [89]:
# eggs value
food_counts['eggs']

6

Updating the `value` of a key.

In [90]:
food_counts['bacon'] = 5

In [91]:
food_counts

{'eggs': 6, 'bacon': 5, 'sausages': 4}

Adding a `key` to the dictionary.

In [92]:
food_counts['hash browns'] = 3

In [93]:
food_counts

{'eggs': 6, 'bacon': 5, 'sausages': 4, 'hash browns': 3}

Removing a `key` from the dictionary.

In [94]:
del food_counts['sausages']

In [95]:
food_counts

{'eggs': 6, 'bacon': 5, 'hash browns': 3}

A `value` can be any data type.

In [96]:
# nested dictionary
d = {'car':'bmw', 'company_cars': 100, 'public_transportation':['mtr',{'lines': ['blue', 'red','green'], 'taxi' :['red', 'green']}, 'uber', 'buses']}

In [97]:
d

{'car': 'bmw',
 'company_cars': 100,
 'public_transportation': ['mtr',
  {'lines': ['blue', 'red', 'green'], 'taxi': ['red', 'green']},
  'uber',
  'buses']}

In a dictonary `key` should be unique. If `keys` are of the same name, can't be sure which one will be returned.

In [98]:
bad_dict = {'key':5,'key':6,'key':2}

In [99]:
bad_dict['key']

2

## Tuples

Tuples are similar to a list execpt they are **immutable**, which means that once created, values cannot change such as add, delete, replace, or reorder. To create a tuple use `()`

In [100]:
a_tuple = (1,2,3,4)

In [101]:
# unpacking a tuple
a, b, c, d = a_tuple
print(a,b,c,d)

1 2 3 4

## Sets

Sets are similar to list except that they can only contain unique values. To create a set, pass a `list` in `set()`

In [102]:
a_set = set([1,2,3,1,1,2,3,4])
a_set

{1, 2, 3, 4}

In [103]:
1 in a_set #check if 1 is in the set

True

In [104]:
5 in a_set #check if 5 is in the set

False

# Indexing

Indexing is used to retrieve values from any data type that contains a sequence of items, this includes strings, lists and tuples. Python uses 0 based indexing, so we count starting from zero rather than 1. Python reads left to right.

In [105]:
# string indexing
s = "Sammy Shark!"

<table><thead>
<tr>
<th>S</th>
<th>a</th>
<th>m</th>
<th>m</th>
<th>y</th>
<th></th>
<th>S</th>
<th>h</th>
<th>a</th>
<th>r</th>
<th>k</th>
<th>!</th>
</tr>
</thead><tbody>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
</tr>
</tbody></table>

Pass the index number in `[]` to find the character at that index

In [106]:
s[0]

'S'

In [107]:
s[7]

'h'

In [108]:
# list indexing
l = ['a', 2, 'b', 4, 7, 'x', 'y', 1]
l

['a', 2, 'b', 4, 7, 'x', 'y', 1]

In [109]:
print(l[2])
print(l[7])

b
1

In [110]:
# tuple indexing
t = (3, 'z', -5, 'abc')
t

(3, 'z', -5, 'abc')

In [111]:
print(t[2])
print(t[3])

-5
abc

We can also use negative indexing.
<table><thead>
<tr>
<th>S</th>
<th>a</th>
<th>m</th>
<th>m</th>
<th>y</th>
<th></th>
<th>S</th>
<th>h</th>
<th>a</th>
<th>r</th>
<th>k</th>
<th>!</th>
</tr>
</thead><tbody>
<tr>
<td>-12</td>
<td>-11</td>
<td>-10</td>
<td>-9</td>
<td>-8</td>
<td>-7</td>
<td>-6</td>
<td>-5</td>
<td>-4</td>
<td>-3</td>
<td>-2</td>
<td>-1</td>
</tr>
</tbody></table>

In [112]:
# string negative indexing
print(s[-1])
print(s[-5])

!
h

In [113]:
# list negative indexing
print(l[-4])
print(l[-7])

7
2

In [114]:
# tuple negative indexing
print(t[-1])
print(t[-4])

abc
3

In [115]:
# boolean comparison
l[-1] == l[7]

True

Can replace a value in a list by indexing.

In [116]:
l

['a', 2, 'b', 4, 7, 'x', 'y', 1]

In [117]:
l[4] = 'seven'
l

['a', 2, 'b', 4, 'seven', 'x', 'y', 1]

## Slicing 
Slicing is done by using two index numbers to specify a range of characters in a sequence. Use a `:` in `[]` to slice.
  * a[start:end]  - return sequence at start through end minus 1
  * a[start: ]  - return sequence at start through the rest of the sequence
  * a[ :end]  - return sequence from the beginning of sequence to end minus 1
  * a[ : ]  - return whole sequence
  
The end index is exclusive, meaning will slice the sequence upto but not including the end index.

In [118]:
# string slicing
s[0:5]

'Sammy'

In [119]:
# can also mix normal indexing with negative indexing
s[3:-1]

'my Shark'

In [120]:
# end index empty
l[3:]

[4, 'seven', 'x', 'y', 1]

In [121]:
# start index empty
l[:4]

['a', 2, 'b', 4]

In [122]:
# start and end index empty
l[:]

['a', 2, 'b', 4, 'seven', 'x', 'y', 1]

Slice a sequence with a `step` value
 * a[start:end:step]  - return sequence at start through end minus 1, by step

In [123]:
# slicing with a step
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8,  9, 10]

# return all odd numbers in list
print(numbers_list[::2])

# from index 1 to 9, return every third value
print(numbers_list[1:9:3])

[1, 3, 5, 7, 9]
[2, 5, 8]

`step` can be a negative number

In [124]:
# return a reversed 
print(numbers_list[::-1])

# return first 3 numbers reversed
print(numbers_list[2::-1])

# return the last 2 even numbers in reversed 
print(numbers_list[:-5:-2])

# return the every 3rd number in reversed
print(numbers_list[::-3])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[3, 2, 1]
[10, 8]
[10, 7, 4, 1]

## Indexing and Slicing a Nested List

In [125]:
nest = [1,'Day', 'Monday',[50, 2, 10]]
print(nest)

[1, 'Day', 'Monday', [50, 2, 10]]

In [126]:
# list in a list index
print(nest[3])

# nested list indexing
print(nest[3][1])

# slicing a nest list
print(nest[3][:2])

[50, 2, 10]
2
[50, 2]

In [127]:
nest = ['cars', 'bikes', 4, 6, ['bmw', 'tesla', 'toyota',['red', 'silver', 'black']]]
print(nest)

['cars', 'bikes', 4, 6, ['bmw', 'tesla', 'toyota', ['red', 'silver', 'black']]]

In [128]:
# indexing silver from the list
# index the first nested list
print(nest[4])

# index the second nested list
print(nest[4][3])

# index target
print(nest[4][3][1])

['bmw', 'tesla', 'toyota', ['red', 'silver', 'black']]
['red', 'silver', 'black']
silver

## Simple functions

In [129]:
# str() convert an object to a string
print(str(l))
print(str(1001))
print(type(str(l)))

['a', 2, 'b', 4, 'seven', 'x', 'y', 1]
1001
<class 'str'>

In [130]:
# int() convert an object to an integer
print(int(True))
print(int('4'))
print(int(3.75)) # int() will round down

1
4
3

In [131]:
# float() convert an object to a float
print(float(False))
print(float('3.14'))
print(float(int('101')))

0.0
3.14
101.0

In [132]:
# len() to find the length of characters of an object
print(l)
print(len(l))

['a', 2, 'b', 4, 'seven', 'x', 'y', 1]
8

In [133]:
# range() create a range of numbers 
range_of_numbers = range(10) # create range object of numbers 0 - 9

range_even_numbers = range(0, 11, 2) # create a range object of odd numbers 0 - 10

# list() to convert an object to a list
print(list(range_of_numbers))

print(list(range_even_numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10]

In [134]:
# input() takes an object and return a string of the input
question = input('Hi, what is your name? ')
print('Nice to meet you', question)

Hi, what is your name?  Wayne

Nice to meet you Wayne