![pic](https://xccelerate.co/static/logo@3x-45da759fdee2af1d7e8b7cc2c3e8e73e-28324.png)

# Session 1 Exercises

#1. What is the remainder of 102132 divided by 78

Calculate 3.14^2

#2. Create of list of every 12th numbers from 1 to 100

#3.  What is the length of the above list

#4. Create a tuple of numbers from 5 to 10

#5. What's are the differences between a list and an tuple?

#6. What data types are each of the following brackets used for in python, `()`, `[]` and `{}` ?

#7. Create a dictionary with one entry

#8. Add a new entry to the dictionary

#9. Update first entry value by adding a list

#10. Why is the output of the bellow '42' and not  6?
```python
>>> '4' + '2'
'42'
```

#11. Convert string "1538135465" to a list

#12. From the above list remove all the '5'

#13. From the list with no "5" replace all the "1" with "hello"

#14. Use string formatting to print:
  * `Hong Kong has 8 MTR lines with a total of 98 stations`
 
Use these variables:
  * transport = 'MTR'
  * amount = 98

#15. From the nested list, use indexing to print string "world"

In [ ]:
l = ['a', 'z', 1, 56, ['d', 34,'abc'], 3,[5, 'qwe',['la', 123, 'hello',['world'], 8, 0], 'def'], 6, 100, 'xyz']

#16. What is the lenght of 3.14

#17. Given the following variables:
 * car = 'sedan'
 * model = 'tesla'
 * color = 'black'

print the variables to match this output:
 * i drive a#black#tesla#sedan!

#18. Difficult: from the nested dictionary, print 'boc'

In [ ]:
dict = {'key': 'value', 'banks': [4, 3, 'many',{'local':['hang seng', 'dah sing','OCBC', 'international',['hsbc', 'sc','citibank', {'china': ['boc', 'ccb']}, 145, 852], 'octopuss', 'mtr'], 'sports': ['football','basketball']}], 'temp':'humid'}

In [ ]:
#19. Change this cell to markdown and run cell, what do you see?

![pic](https://i2.wp.com/evomics.org/wp-content/uploads/2011/09/python-logo-glassy.png)

#20. Add five cells below this markdown

#21. Delete 2 cells from above

#22. Combine the list from question 13 to question 2

# GREAT JOB!